{% load static %}
    <!-- footer section  -->
    <footer class="container-fluid pb-5">
        <div class="container footersection">
            <div class="">
                <img src="{% static '' %}img/foodie1.png" alt="">
            </div>
            <div class="">
                <h4>BURGER</h4>
                <p><a href="">Menu</a></p>
                <p><a href="">Rice Meal</a></p>
                <p><a href="">Swallow Meal</a></p>
                <p><a href="">Continental Meal</a></p>
                <p><a href="">Spaghetti  Meal</a></p>
            </div>
            <div class="">
                <h4>SUPPORT</h4>
                <p><a href="">Get Help</a></p>
                <p><a href="">Contact Us</a></p>
                <p><a href="">Foodie Feedback</a></p>
            </div>
            <div class="">
                <h4>LEGAL</h4>
                <p><a href="">Terms and Conditions</a></p>
                <p><a href="">Privacy Policy</a></p>
                <p><a href="">Disclaimer</a></p>
                <p><a href="">Caution Notice</a></p>
            </div>
            <div class="app">
                <h4>APPS</h4>
                <div class="app_wrapper">
                <div><img src="{% static '' %}img/app-store.png" alt=""></div>
                <div><img src="{% static '' %}img/play-store.png" alt=""></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer section done -->