{% load static %}

<div class="container-fluid offersection mt-3">
  <div class="container offer row text-white">
    <div class="boxx d-flex col-lg-5 col-sm-12 col-md-6">
      <img src="{% static '' %}img/phone1.png" alt="">
    </div>
    <div class="boxx2 col-lg-7 col-sm-12 col-md-6">
      <h2 class="text-white">Save <span class="text-warning"> $$$</span> With offers on demand</h2>
      <div class="app">
        <div><img src="{% static '' %}img/app-store.png" alt=""></div>
        <div><img src="{% static '' %}img/play-store.png" alt=""></div>
      </div>
      <p>Apple and the Apple logo are trademarks of Apple Inc., registered in the U.S. and other countries. App Store is a service mark of Apple Inc. Google Play is a trademark of Google Inc. Terms apply.</p>
    </div>
  </div>
</div>