{% extends "base.html" %}
<!-- {% load static %} -->
<!-- title section  -->
{% block title %} | User Profile {% endblock title %}
<!-- title section done -->

<!-- header section  -->
{% block header %} {% include "header.html" %}{% endblock header %}
<!-- header section done -->

<!-- content section  -->
{% block content %}
    <h1>{{load_profile.user.username}} update password</h1>
    <div class="container-fluid profilee pt-5">
        <div class="container profile">
            <div class="secondbox">
                <div class="">
                    <form action="{% url 'password-update' %}" method="POST">
                    {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn mybtn">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
<!-- content section done -->

    
    